<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="#" th:action="@{/profile}" th:object="${statusForm}" method="post">
            Status:
            <input type="text" th:field="*{statusDesc}">
            <br><br>
            
            Visibility:
            <br><br>
            <input type="radio" th:field="*{statusVisibility}" value="0"> Private<br>
            <input type="radio" th:field="*{statusVisibility}" value="1" checked> Public<br>
            <br><br>
            Location:
            <br> <br>
            <select th:field="*{locationId}">
                <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}">Options</option>
            </select>
                    
            <input type="hidden" th:name="statusToEditId" th:value="${statusToEdit.id}" readonly style="border: none">
            
            <br><br>
            <input type="submit" value="Edit Status">
        </form> 
    </body>
</html>
