<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/profile.css}" />
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    </head>
    
    <body>
        
        <div class="row">
            
            <div class="column">
                <form th:action="@{/logout}" method="get">
                    <button class="btn btn-md btn-danger btn-block" name="registration"
                            type="Submit">Logout
                    </button>
                </form>
                
                <br> <br>                        
                        <form action="#" th:action="@{/profile}" th:object="${statusForm}" method="post">
                            Status:
                            <input type="text" th:field="*{statusDesc}">
                                <br><br>
                                        
                                        Visibility:
                                        <br><br>
                                                <input type="radio" th:field="*{statusVisibility}" value="0"> Private<br>
                                                <input type="radio" th:field="*{statusVisibility}" value="1" checked> Public<br>
                                                <br><br>
                                                 Location:
                                                 <br> <br>
                                                <select th:field="*{locationId}">
                                                    <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}">Options</option>
                                                </select>
                                                                            
                                                <br><br>
                                                <input type="submit" value="Post Status">
                                                </form> 
                                                                                        
                                                </div>
                                                                                        
                                                <div class="column">
                                                                                            
                                                    <h2>My Statuses</h2>
                                                    <hr style="border-top: dotted 1px;" />
                                                    <hr style="border-top: dotted 1px;" />
                                                    <div>
                                                        <h3>Pinned Status</h3>
                                                            
                                                        <div th:if="${pinnedStatusForm != null}">
                                                            <form>
                                                                                                                        
                                                            <input type="text" th:value="${pinnedStatusForm.statusDesc}" readonly style="border: none">
                                                             <br>
                                                                    
                                                            <input type="text" th:value="${pinnedStatusForm.statusVisibilityString}" readonly style="border: none">
                                                            <br>
                                                                            
                                                            <input type="hidden" th:name="statusId" th:value="${pinnedStatusForm.id}" readonly style="border: none">
                                                            <i class="fa fa-map-marker"></i>&nbsp;<input type="text" th:value="${pinnedStatusForm.location}" readonly style="border: none">
                                                                                
                      
                                                            </form>
                                                        </div>
                                                            
                                                        <div th:unless="${pinnedStatusForm != null}">
                                                            <div>no pinned status</div>
                                                        </div>
                                                            
                                                        
                                                            </div>
                                                        
                                                    <hr style="border-top: dotted 1px;" />
                                                    <hr style="border-top: dotted 1px;" />
                                                        
                                                    <div>
                                                        <div th:each="status : ${allStatuses}">
                                                            <form th:action="@{/editStatus}" method="post">
                                                                
                                                                <input type="text" th:value="${status.statusDesc}" readonly style="border: none">
                                                                <br>
                                                                        
                                                                <input type="text" th:value="${status.statusVisibilityString}" readonly style="border: none">
                                                                <br>
                                                                                
                                                                <input type="hidden" th:name="statusId" th:value="${status.id}" readonly style="border: none">
                                                                                    
                                                                                    
                                                                <i class="fa fa-map-marker"></i>&nbsp;<input type="text" th:value="${status.location}" readonly style="border: none">
                                                                <br>  
                                                                <button type="submit" <i class="fa fa-edit"></i></button>
                                                                                                
                                                            </form>
                                                            <form th:action="@{/profile}" method="post">
                                                                <input type="hidden" th:name="statusId" th:value="${status.id}" readonly style="border: none">
                                                                <input type="hidden" th:name="oldPinnedStatusId" th:value="${pinnedStatusForm.id}" readonly style="border: none">
                                                                <button type="submit">Make it as pinned</button>
                                                            </form>
                                                            <hr/>
                                                        </div>
                                                    </div>
                                                                                            
                                                </div>
                                                                                        
                                                                                        
                                                                                        </div>
                                                                                        
                                                                                        
                                                                                        </body>
                                                                                        </html>
